/*
* When search maginfying glass expands, the underline is white
*/
.mdl-textfield__label::after {
    background-color: #ffffff;
/*    bottom: 20px;
    content: "";
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;*/
}

/*.mdl-textfield.is-focused .mdl-textfield__label::after {
  left: 0;
  width: 100%;
  visibility: visible;
}*/