<template name="footerInput">
  <footer class="mdl-mini-footer">
    <!-- <div class="mdl-mini-footer__left-section">
      <div class="mdl-logo">Title</div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy & Terms</a></li>
        </ul>
    </div> -->
    <form action="#">
      <p>Help us build the best possible service for you. Give us your feedback.</p>
      <div class="textfield mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="3" maxrows="6"
         id="schools"></textarea>
        <label class="mdl-textfield__label" for="schools"></label>
      </div>
      <!-- Accent-colored raised button with ripple -->
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Submit
      </button>
    </form>
  </footer>
</template>
