/*textarea {
  width:100%;
  height:100%;
  /*box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/
form {
  width: 100%;
}
.textfield {
  width: 100%;
}

.textfield textarea {
  resize: none;
}
