<!-- event card definition and style -->
<template name="showEventCard">
  <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-card mdl-shadow--8dp">
    <div class="mdl-card__media">
      <img class="cardImage" src="{{this.image}}">
    </div>
    <div class="mdl-card__title">
      <h4>{{this.title}}</h4>
    </div>
    <div class="mdl-card__supporting-text">
      <p>{{this.description}}</p>
    </div>
    <!-- only display the "Add to Calendar" button if the user is logged in -->
    {{#if currentUser}}
    <div class="mdl-card__actions mdl-card--border">
      <button id="addToCalendar" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect">
        Add to Calendar
      </button>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
    {{/if}}
  </div>
</div>
</template>
