<template name="content">
  <main class="mdl-layout__content">
    <div class="mdl-grid mdl-grid--no-spacing" id="events">
      <!-- All the cards get dynamically generated here -->
      <!-- See 'algolia/query.js' -->
      {{#transition in="fadeIn:200" out="fadeOut:150"}}
      {{#each events}}
        {{> showEventCard}}
      {{/each}}
      {{/transition}}
    </div>
  </main>
</template>
