<template name="dashboard">
  <header class="mdl-layout__header">
    <div class="mdl-layout-icon"></div>
    <div class="mdl-layout__header-row">
      <!-- <span class="mdl-layout__title">EVENTS</span> -->
      <div class="mdl-layout-spacer"></div>
      <!-- Find a better location for the sign in form -->
      <!-- And, customize the form to material layout standards -->
      <div>{{> loginButtons align="right"}}</div>
      <!-- **************************************************** -->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" autocomplete="off">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
    </div>
  </header>

  <div class="mdl-layout__drawer">
    <!-- <span class="mdl-layout__title">EVENTS</span> -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">Nav Linl 1</a>
      <a class="mdl-navigation__link" href="#">Nav link 2</a>
      <a class="mdl-navigation__link" href="#">Nav link 3</a>
    </nav>
  </div>
</template>
